* {
    box-sizing: border-box;
    font-family:$font;
}

@font-face{

    font-family: futura;
    font-style: normal;
    font-weight: normal bold;
    src: url("C:\Users\Dacehell\Documents\gigeo\assets\tipography\FuturaLT.ttf");
    src: url("C:\Users\Dacehell\Documents\gigeo\assets\tipography\FuturaLT.woff");

}