.profile {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-color: lightgrey;
    border-bottom-style: solid;
    border-bottom-width: 0.1px;
    padding: 0 9% 0;

    .profile__thumbnail {
        display: flex;
        justify-content: left;

        .profile__heading {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: 30px;
            line-height: 1.4;
            
        }

        img {
            width: 78px;
            height: 78px;
            border-radius: 50%;
        }
    }

    .profile__name {
        margin: 0;
        font-size: 1.6em;
        font-weight: bolder;
    }
}

@media (max-width: 623px) {

    .profile__name {
      font-size: 2em;
      width: 50vmin;
    }
    .followers{
        font-size:0.7em;
    }
  }
  
 @media  (max-width: 623px) {
     .profile{
         display: flex;
         justify-content: flex-end;
         border-bottom: unset;
     }
 }